// Define a variable for the primary color (dark gray)
$primary-color: #777676;

// Define a variable for the secondary color (light orange)
$secondary-color: #fe974c;

// Define a variable for the font stack (Hind Siliguri, sans-serif)
$siliguri-font: 'Hind Siliguri', sans-serif;

